<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,157}}</string>
                <key>sourceSize</key>
                <string>{175,157}</string>
            </dict>
            <key>touxiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,157}}</string>
                <key>sourceSize</key>
                <string>{175,157}</string>
            </dict>
            <key>touxiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>touxiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,161},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>touxiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,161},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>touxiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>touxiang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,268},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>touxiang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,268},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>touxiang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>touxiang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,375},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>touxiang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,375},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touxiang.png</string>
            <key>size</key>
            <string>{356,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6174a9f06ef89cc0ca7defef1e14d9$</string>
            <key>textureFileName</key>
            <string>touxiang.png</string>
        </dict>
    </dict>
</plist>
